/.metals
/.vscode
/project
/target
.bloop/root-test.json
.bloop/bloop.settings.json
.bloop/root.json
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/hello.class
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/hello.tasty
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/Main$package.class
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/Main$package.tasty
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/Main$package$.class
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/META-INF/semanticdb/src/main/scala/Main.scala.semanticdb
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/META-INF/semanticdb/src/main/scala/Mill.scala.semanticdb
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/META-INF/semanticdb/src/main/scala/View/Tui.scala.semanticdb
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/META-INF/semanticdb/src/main/scala/Util/Observer.scala.semanticdb
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/META-INF/semanticdb/src/main/scala/Model/Stone.scala.semanticdb
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/META-INF/semanticdb/src/main/scala/Model/Player.scala.semanticdb
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/META-INF/semanticdb/src/main/scala/Model/BoardMatrix.scala.semanticdb
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/META-INF/semanticdb/src/main/scala/Model/Board.scala.semanticdb
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/META-INF/semanticdb/src/main/scala/Controller/GameStatus.scala.semanticdb
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/META-INF/semanticdb/src/main/scala/Mill.scala.semanticdb
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/META-INF/semanticdb/src/main/scala/Controller/Controller.scala.semanticdb
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/META-INF/semanticdb/src/main/scala/Main.scala.semanticdb
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/Main$package$.class
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/Main$package.tasty
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/Main$package.class
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/hello.tasty
.bloop/root/bloop-internal-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==-kLTm04mZQBmT1UuPeze9YQ==/hello.class
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/META-INF/semanticdb/src/main/scala/View/Tui.scala.semanticdb
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/META-INF/semanticdb/src/main/scala/Util/Observer.scala.semanticdb
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/META-INF/semanticdb/src/main/scala/Model/Stone.scala.semanticdb
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/META-INF/semanticdb/src/main/scala/Model/Player.scala.semanticdb
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/META-INF/semanticdb/src/main/scala/Model/BoardMatrix.scala.semanticdb
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/META-INF/semanticdb/src/main/scala/Model/Board.scala.semanticdb
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/META-INF/semanticdb/src/main/scala/Controller/GameStatus.scala.semanticdb
.bloop/root/bloop-bsp-clients-classes/classes-Metals-kDtC9zk8SvSOlmtS1lPIpg==/META-INF/semanticdb/src/main/scala/Controller/Controller.scala.semanticdb
